.MOD_player{
    margin : auto;
    width:250px;
    display: block;
}

.MOD_cover-container{

}

.MOD_text-container{

}

.MOD_cover{
    width:250px;
    height:250px;
}

.MOD_init{
    font-size:28px;
    font-weight: bold;
    margin: 0;
}
    
.MOD_title{
    font-size:20px;
    font-weight: bold;
    margin: 0;
}

.MOD_artist{
    font-size:20px;
    margin: 0px;
}

.MOD_time{
    font-size:20px;
    margin: 0px;
}
